body {
    background-image: url(img.jpg);
}
h1{
    text-align: center;
    font-size: 40px;
    background-color: #213363;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2{
    text-align: center;
    font-size: 40px;
    background:  violet;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

legend {
    text-align: center;
    font-size: 40px;
    background:  green;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

ul{
    color: lightgoldenrodyellow;
    background-color: goldenrod;
}

img{
    margin: 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    height: 100%;
    width: 90%;
    margin: 1px auto;
}

header{ 
    grid-area: 1/1/2/4;
    background-color: seagreen;
}
 
aside{
    grid-area: 2/2/3/4;
    background-color:gold;
}

main{
    grid-area: 2/1/3/2;
    background-color:pink;
}

footer{
    grid-area: 3/1/5/4;
    background-color:#B2A4FF;
}
table,th,td {
    color: black;
    width:500px;
    margin:auto;
    font-size: large;
    padding: 10px;
    text-align: center;
    border: 2px solid ;
    border-color: brown;
    background-color: wheat;
}
